body {
  margin: 0;
	scroll-behavior: smooth;
}

a {
  color: #000;
}

/* header */

.header {
  background-color: #fff;
  box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
  position: fixed;
  width: 100%;
  z-index: 3;
  top: 0;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #fff;
}
/* 
.header ul li {
  display: inline-block;
} */

.header li a {
  font-family: 'Hind Siliguri', sans-serif;
  padding: 20px 20px;
  font-weight: 500;
  display: block;
  border-right: 1px solid #f4f4f4;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.header ul .head a,
.header ul .head a:after,
.header ul .head a:before {
  transition: all .5s;
}
/* SHIFT */
.shift ul .head a {
  position:relative;
  z-index: 1;
}
.shift ul .head a:hover {
  color: #fff;
}
.shift ul .head a:after {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 100%;
  height: 1px;
  content: '.';
  color: transparent;
  background: #233E8B;
  visibility: none;
  opacity: 0;
  z-index: -1;
}
.shift ul .head a:hover:after {
  opacity: 1;
  visibility: visible;
  height: 100%;
}

.header .logo {
  display: block;
  float: left;
  font-size: 2em;
  padding: 10px 20px;
  text-decoration: none;
  font-family: sans-serif;
  font-weight: 100;
  letter-spacing: 2px;
}
/* .header .logo:hover {
  color: rgb(94, 94, 94);
  transition: 0.3s;
} */

/* menu */

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}

/* menu icon */

.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #333;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 980px) {
  
  /* .dunia, .subscribe {
    display: none;
  } */
}
/* 48em = 768px */

@media (min-width: 48em) {
  .header li {
    float: left;
  }
  .header li a {
    padding: 25px 30px;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon  {
    display: none;
  }

}
